:root {
	--color-dark-blue: #283540;
	--color-yellow: #fbad31;
	--var-background: #001427;
	--var-light-green: #708D81;
	--var-light-yellow: #F4D58D;
	--var-cherry: #BF0603; 
	--var-wine: #8D0801;
	--var-white: #fff;
	width: 100%;
	height: 100vh;
}

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
}

body {
	display: flex;
	justify-content: center;
	font-size: 1rem;
	color: white;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-dark-blue);
  background-image: linear-gradient(115deg, #4085a4c9, #1865b795), url(../images/pexels-mads-thomsen-2739013.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
	margin: 0 100px 0 100px;
	padding: 20px;
	text-align: center;
	/* max-width: 100em;
	max-height: 100%; */
}

header {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.logo-header {
	width: 10em;
}

header p {
  background: var(--color-dark-blue);
  /* margin: 450px 0 0 100px; */
  margin: 450px 20px 0 0;
  padding: 30px;
  font-size: 1.3rem;
  max-width: 600px;
  border-radius: 3px;
  /* max-width: 250px; */
}

.content {
	display: flex;
	flex-direction: column;
  max-width: 50%;
	margin-top: 50px;
}

h1 {
	font-size: 4rem;
}

.light-text {
  margin-top: 20px;
	padding: 10px;
	font-size: 1.5rem;
  font-weight: lighter;
  text-align: left;
  background-color: rgba(128, 128, 128, 0.107);
	border-radius: 0.5em;
}

.logo {
	position: relative;
	max-width: 2em;
}

.button-container-style{
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 20vw;
  height: 3.265vh;
}
.input-amount{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.donation-text{
  font-size: 1.625rem;
  text-align: center;
}
.quantity {
  margin: 10px 0 10px 0;
  border-radius: 50px;
  border-style: none;
  padding: 10px;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.quantity:hover {
  border-style: none;
}